{% load static %}

     <div class="header_section">
        <div class="container-fluid">
           <nav class="navbar navbar-light bg-light justify-content-between">
              <div id="mySidenav" class="sidenav">
                 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                 <a href="{%url 'home'%}">Home</a>
                 <a href="{%url 'store'%}">Products</a>
                 <a href="about.html">About</a>
                 <a href="client.html">Client</a>
                 <a href="contact.html">Contact</a>
              </div>
              <span class="toggle_icon" onclick="openNav()"><img src="{%static 'images/toggle-icon.png'%}"></span>
              <a class="logo" href="{%url 'home'%}"><img src="{%static 'images/logo.png'%}"></a></a>
              <form class="form-inline ">
                 <div class="login_text">
                    <ul>
                        <div class="login-user">
                           <li><a class="login-icon" href="#"><img src="{%static 'images/user-icon.png'%}"></a>
                                 <div class="login-nav">
                                    <a href="{%url 'home'%}">Login</a>
                                    <a href="{%url 'home'%}">Sign Up</a>
                                 </div>
                           
                           </li>
                        </div>
                       
                       <li><a href="{% url 'cart' %}"><img src="{%static 'images/cart.png'%}" id="cart-icon"></a>

                          <div id="cart-total">{{cartItems}}</div>
                          
                          </li>
                     
                    </ul>
                 </div>
              </form>
           </nav>
        </div>
     </div>
